.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.container * {
  display: flex;
}

.container .titleContainer {
  display: flex;
}

.reviewsContainer.normal {
  margin-left: 1%;
  margin-top: -1%;
  height: fit-content;
}

.titleContainer .normal {
  font-size: 2.3rem;
}

.titleContainer .huge {
  font-size: 3.8rem;
  font-weight: 400;
}
