.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main * {
  display: flex;
}

.headerContainer {
  background-color: #f97805;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ratingsContainer {
  width: 52%;
  padding: 2% 0;
  justify-content: center;
  align-items: center;
  color: white;
}

.productsContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.productsWrapper {
  margin-top: 2%;
  width: 52%;
  flex-wrap: wrap;
}
